language: node_js
node_js:
  - 12
cache: npm

branches:
  only:
    - master

install:
  - npm install

script:
  - npm run build

deploy:
  provider: pages
  target-branch: gh-pages
  skip-cleanup: true
  github-token: $GH_TOKEN
  fqdn: wejh-server-docs.busybunny.cn
  on:
    branch: master
  local-dir: docs/.vuepress/dist