$accent_color = #e78ab0

.navbar .home-link .site-name {
    color: $accent_color;
}

a {
  word-break: break-all;
}

h3 {
    color: $accentColor;
}

.sidebar-heading {
    opacity: 1 !important;
}

.badge {
    vertical-align: middle !important;
}

// .page .custom-block.tip {
//     border-color: $accent_color;
// }