$accent_color = #e78ab0

.navbar .home-link .site-name {
    color: $accent_color;
}

.page .custom-block.tip {
    border-color: $accent_color;
}

.theme-container .page .content__default .logo-img {
    margin-top: 3.6rem;
}

.page .content__default .logo-text {
    padding-top: 2.6rem;
    padding-bottom: 2rem;
}

.icon.outbound {
    display: none;
}

a {
  word-break: break-all;
}

h3 {
    color: $accentColor;
}

.sidebar-heading {
    opacity: 100% !important;
}

.badge {
    vertical-align: middle !important;
}